*

!core/
!core/*

!docs/
!docs/*

!jobs/
!jobs/internal/
!jobs/internal/*/
!jobs/internal/*/script
!jobs/internal/*/params
!jobs/internal/*/job.conf

!logs/
!logs/.gitignore

!sessions/
!sessions/.gitignore

!.gitignore
