*

!core/
!core/*

!jobs/
!jobs/internal/
!jobs/internal/*/
!jobs/internal/*/script
!jobs/internal/*/params
!jobs/internal/*/config

!libs/
!libs/*

!logs/
!logs/.gitignore

!sessions/
!sessions/.gitignore

!.gitignore
